/*			Config styling 				*/

html, body{
	font-size: 16px;
}

a{
	color: #000;
}

a:hover{
	text-decoration: none;
}


/*			Navbar section styling			*/
.nav-container{
	width: 100%;
	display: flex;
	flex-direction: column;
}

.nav-top{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border: 1px solid #C8C8C8;
}

.nav-logo img{
	width: 9rem;
	height: 9rem;
} 

.nav-logo{
	display: flex;
	flex-direction: row;
	padding: 1.0rem 0 0 0.5rem;
}

.nav-logo-name{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center; 
}

#nav-logo-name-1{
	color: #000;
	text-decoration: none;
	font-size: 2.3rem;
	font-family: serif;
	font-weight: 600; 
}

#nav-logo-name-2{
	text-decoration: none;
	color: #FD2A2A;
	font-size: 2.3rem;
	font-weight: 450;
	align-self: center;
	margin-top: -.7rem;
}

.nav-contact-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: .5rem 2.2rem 0 1rem;
	line-height: 2rem;
}

.nav-contact-info span{
	font-size: 1.1rem;
}

.nav-contact-info span a:hover{
	text-decoration: underline;
	color: #000;
}

.nav-bottom{
	padding-top: .4rem;
	margin-bottom: 0;
	background: #FC5050;
	height: 2.5rem;
}

.nav-links{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.nav-links a{
	text-decoration: none;
	list-style: none;
	color: #FFF !important;
	font-size: 1.1rem;
}

.main-content{
	width: 100%;
}

.cover{
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
	background-image: url('../images/stethescope-02.jpg'); 
	text-align: center;
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}

.section-header{
	color: #404040;
	border-bottom: 3px solid #F00;
	padding-bottom: .7rem;
	margin: 0 auto;
	text-align: center;
}


/*		Services Section Styling			*/

.services-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-top: 2rem;
}

.services-header{
	width: 7.3rem;
}

.services-content-container{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 4rem 0 2rem 0;
	align-items: center;/*
	border: 1px solid #C8C8C8;*/
}

.services-content-row{
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
}

.service-container{
	border: 1px solid #C8C8C8;
	margin: 2rem 2rem 2rem 0;
	width: 14rem;
	height: 17rem;
}

.service-front{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
}

.service-back{
	display: none;
	flex-direction: column;
	transform: rotateY(-180deg);
	background: #FDFDFD;
	width: 100%;
	height: 100%;
}

.service-back-close{
	cursor: pointer;
	margin: .3rem 0 0 12.2rem;
	font-family: cursive;
	font-weight: bold;
	font-size: 1.4rem;
}

.card-flip{
	transform-style: preserve-3d;
    transition: all .9s ease;
}

.flip{
	transform: rotateY(180deg);
}

.service-name{
	font-size: 1.8rem;
	font-family: sans-serif;
	color: #454545;
	font-weight: bold;
}

.service-icon{
	width: 4rem;
	height: 4rem;
}

#pharmacy-icon{
	margin-top: 1rem;
	height: 3rem;
	width: 5rem;
}

.service-more-btn{
	margin-top: 4rem;
	width: 9rem;
	background: #FD2A2A;
	color: #FFF;
	border-radius: 1rem;
	border: 1px solid #F00;
}


/*		About Section Styling				*/

.about-container{
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2rem 0;
}

.about-header{
	width: 9.8rem;
}

.about-content-container{
	display: flex;
	flex-direction: row;
	padding: 4rem 2rem 2rem 2rem;
}

.about-image{
	width: 50%;
}

.about-image img{
	width: 95%;
	height: auto;
}

.about-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	padding-top: 2rem;
}

.about-info p{
	font-size: 1.1rem;
}



/*			Contact section styling			*/

.contact-header{
	width: 8.5rem;
}

.contact-content-container{
	width: 100%;
	display: flex;
	flex-direction: row;
}

.contact-form-container{
	width: 50%;
	padding-top: 4rem;
}

.contact-form-header{
	/*margin-left: 30%;*/
	margin-bottom: .8rem;

}

.contact-form-container, .contact-location-container{
	display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-container form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-form-input, .contact-form-textarea{
	padding-left: .9rem;
	border: 1px solid #D2D2D2;
	width: 22rem;
	height: 2.3rem;
	margin-bottom: 1rem;
}

.contact-form-textarea{
	height: 6.9rem;
}

.contact-form-submit{
	background: #FD2A2A;
	color: #F0F0F0;
	border: none;
	width: 22rem;
	height: 2.3rem;
	font-weight: bold;
}

.contact-location-container{
	width: 50%;
	padding: 3rem;
}

.contact-location-header{
	margin-bottom: 1.5rem;
}

.contact-location-container iframe{
	 width: 100%;
	 height: 21rem; 
}

/*			Footer section styling			*/
.footer-container{
	display: flex;
	flex-direction: column;
	background: #757575;
	color: #FFF;
	width: 100%;
	padding: 1rem 4rem 0 1rem;
}

.footer-row-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 2rem;
}


.footer-content-info{
	display: flex;
	flex-direction: column;
}

.footer-logo-container{
	align-self: center;
}

.footer-hours-container, .footer-address-container{
	padding-top: 2rem;
}

#footer-logo-name{
	color: #FFF;
    text-decoration: none;
    font-size: 2.3rem;
    font-family: serif;
    font-weight: 600;
}

.footer-copyright-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.footer-copyright-text{
	font-size: .8rem;
}


#ht {
	color: #5CA7F7 !important;
}
	
#ht:hover {
	text-decoration: underline !important;
}

.fa-heart{
	color: rgb(255, 11, 182);
}

@media only screen and (max-width: 768px) {
	.nav-top{
		padding-bottom: 1rem;
		justify-content: flex-start;
	}

	.nav-logo img{
		width: 5rem;
		height: 5rem;
	} 

	#nav-logo-name-1{
		font-size: 1.9rem;
	}

	#nav-logo-name-2{
		font-size: 1.9rem;
		margin-top: -.9rem;
	}

	.nav-contact-info{
		display: none;
	}

	.nav-links{
		display: none;
	}

	.section-header{
		font-size: 1.8rem;	
		padding-bottom: .5rem;
	}

	.services-content-row{
		padding-left: 2rem;
	}

	.service-container{
		width: 14rem;
	}

	.service-more-btn{
		width: 8rem;
	}

	.service-name{
		font-size: 1.5rem;
	}

	.about-header{
		width: 8.5rem;
	}

	.about-content-container{
		flex-direction: column;
		align-items: center;  
		/*padding: 4rem 2rem 0 2rem;*/
	}

	.about-image{
		width: 100%;
	}

	.about-image img{
		width: 100%;
	}

	.about-info{
		justify-content: flex-start;
		width: 100%;
	}

	.contact-content-container{
		flex-direction: column;
	}

	.contact-form-container{
		width: 100%;
		padding-top: 3.5rem;
	}

	.contact-location-container{
		padding-top: 3rem;
		width: 100%;
	}

	.contact-location-container iframe{
		 width: 100%;
		 height: 25rem; 
	}

	.footer-row-container{
		flex-direction: column;
		justify-content: center;
	}

	.footer-address-container{
		padding: 2rem 0 2rem 2rem;
	}
	.footer-hours-container{
		padding-left: 2rem;
	}
}

@media only screen and (max-width: 576px) {
	.nav-logo{
		margin-top: .5rem; 
	}

	.nav-logo img{
		width: 4rem;
		height: 4rem;
	} 

	#nav-logo-name-1, #footer-logo-name{
		font-size: 1.5rem;
	}

	#nav-logo-name-2{
		font-size: 1.5rem;
		margin-top: -.5rem;
	}

	.cover{
	    height: 70vh;
	}

	.services-content-row{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.service-container{
		width: 13rem;
		height: 15rem;
	}

	.service-more-btn{
		margin-top: 3rem;
		width: 8rem;
	}


	.contact-form-input, .contact-form-textarea, .contact-form-submit{
		width: 18rem;
	}
}